In [209]:
import numpy as np
import pandas as pd
df = pd.read_csv('input_files/day3.txt', names =['rucksack'], header=None, skip_blank_lines=False)

In [210]:
lower_letters= np.array(list('abcdefghijklmnopqrstuvwxyz'))
upper_letters = np.char.upper(lower_letters)
all_letters = np.concatenate((lower_letters, upper_letters))

In [213]:
df['size'] = df['rucksack'].apply(len)
df[['first_half','second_half']]=df.apply(lambda x: [x[0][0:int((x['size']) / 2)], x[0][(int(x['size'] / 2)):x['size'] + 1]], axis=1, result_type='expand')
df['common_elements'] = df.apply(lambda x: list(set(list(x['first_half'])) & set(list(x['second_half'])))[0], axis = 1)
df['position'] = df['common_elements'].apply(lambda x: np.where(all_letters==x)[0][0]+1)
df

,rucksack,size,first_half,second_half,common_elements,position
0,lDDWVvlVVQfDMlWjGJTRjQCgTGLCLj,30,lDDWVvlVVQfDMlW,jGJTRjQCgTGLCLj,Q,43
1,ZLZpwzLBhwZhSLBsjntGCtgJRjbnJgSG,32,ZLZpwzLBhwZhSLBs,jntGCtgJRjbnJgSG,S,45
2,qppdZzzsdsmZphrNsNwZhllDHLcVVDWFPvFWcWdFlv,42,qppdZzzsdsmZphrNsNwZh,llDHLcVVDWFPvFWcWdFlv,d,4
3,ztdhgJDBJghmQtPFQPpmbw,22,ztdhgJDBJgh,mQtPFQPpmbw,t,20
4,lVlLRcnfllcfVcccGnSQVLcsTPFbpwsPFspTSqmbpswpbF,46,lVlLRcnfllcfVcccGnSQVLc,sTPFbpwsPFspTSqmbpswpbF,S,45
...,...,...,...,...,...,...
295,ZvWDmMvmSvCndssrsJ,18,ZvWDmMvmS,vCndssrsJ,v,22
296,WcZcNWlcMjBQpzNTqVBp,20,WcZcNWlcMj,BQpzNTqVBp,N,40
297,DpLPZLDDlcgmDmhVgfgfWWRwhwwt,28,DpLPZLDDlcgmDm,hVgfgfWWRwhwwt,g,7
298,VrVMdbCrrBTjCMQQtMwQNSqMQW,26,VrVMdbCrrBTjC,MQQtMwQNSqMQW,M,39
299,VCBHdJHdvrrFsbsdrBJTdTzZcpmZGDGPlmzmlccFDZDn,44,VCBHdJHdvrrFsbsdrBJTdT,zZcpmZGDGPlmzmlccFDZDn,F,32

In [214]:
df['position'].sum()

7967

In [215]:
df['group'] = pd.Series(df.index/3 + 1).apply(int)
df2 = df.groupby('group')['rucksack'].agg(lambda x: list(x)).reset_index()
df2['common_item'] = df2['rucksack'].apply(lambda x: list(set(x[0]) & set(x[1]) & set(x[2]))[0])
df2['position'] = df2['common_item'].apply(lambda x: np.where(all_letters==x)[0][0]+1)
df2

,group,rucksack,common_item,position
0,1,"[lDDWVvlVVQfDMlWjGJTRjQCgTGLCLj, ZLZpwzLBhwZhS...",L,38
1,2,"[ztdhgJDBJghmQtPFQPpmbw, lVlLRcnfllcfVcccGnSQV...",Q,43
2,3,"[NfnSSQpdnRSSpvWdSsjZDGNDjGDwTGTjHG, wlPzPqzPF...",w,23
3,4,"[cBNBBCHhbhNhblBcCCvcBHSwTwDQSqRwDQpDRsjHST, d...",q,17
4,5,"[ZfpmNDfRhzbbqDnD, SFtFjTTZVTFvVTjHrsVvqGBJqhn...",Z,52
...,...,...,...,...
95,96,"[dsDFsBZBhCFhshFrpBFnmLQmHmRgRbLqmmmRQDLm, PPB...",B,28
96,97,"[bPzRlMPTzTMldJMnhswcjzfQVccQhc, HCCqNmNmQQmQs...",J,36
97,98,"[nTmhrsPMsTfmHHGcSgtj, bJJwdlrJQLlvwlQDDwSbgff...",r,18
98,99,"[qRVRqBzgwqRpqRgVqQRPpQJJPrPhPGJnsGrCFdFJrZdG,...",Z,52
99,100,"[DpLPZLDDlcgmDmhVgfgfWWRwhwwt, VrVMdbCrrBTjCMQ...",V,48

In [216]:
df2['position'].sum()

2716